.header {
  padding: 24px 0 77px;
  background-color: var(--white);
}

.header__title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  margin-top: 38px;
}

.header_component {
  padding: 24px 0;
}

.header__nav {
  display: flex;
}

.header__logo {
  width: 110px;
  height: 32px;
}

@media screen and (max-width: 768px) {
  .header__nav {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 96px 0 69px;
  }

  .header__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
  }

  .header_component {
    padding: 32px 0;
    background: var(--grey-1);
  }
}
