.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(196, 196, 196, 0.5);
}

.modal__inner {
  max-width: 428px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--white);
  border-radius: 8px;
  padding: 30px 40px 33px;
}

.modal__close {
  position: absolute;
  right: 12px;
  top: 12px;
}

.modal__title {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark-blue);
  margin-bottom: 14px;
}

.modal__text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}
