.main {
  background: var(--grey-1);
  border: 1px solid var(--grey-2);
  padding: 68px 0 204px;
}

.main__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main_component {
  border: none;
  padding: 36px 0;
}

.main_component.main__grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 56px;
}
