.calendar {
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 28px 26px 32px;
  text-align: center;
}

.calendar__title {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: var(--calendar-title);

  margin-bottom: 24px;
}

.calendar__wrapper {
  padding-bottom: 100%;
  position: relative;
}

.calendar__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* list-style-type: none; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);

  padding: 0;
}
.calendar__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .calendar__item-text_position {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.calendar__item_day-of-week {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--calendar-day-of-week);
}

.calendar__item_day-of-month {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--calendar-day-of-month);
}

.calendar__item_day-of-month.calendar__item_start {
  grid-column: 5;
}

.calendar__item-day_selected {
  background: var(--calendar-day_selected);
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}

.calendar__item-day_selected-inner {
  background: var(--calendar-day_selected-inner);
}
