.footer {
  text-align: center;
}

.footer__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
}

.footer__text {
  display: inline-block;
  width: 640px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
