.footer {
  text-align: center;
}

.footer__title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  padding: 71px 0 32px;
}

.footer__text {
  font-family: 'Inter';
  display: inline-block;
  width: 640px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 136px;
}

.footer_component {
  background: var(--grey-1);
}

.footer_component.footer__title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--grey-3);
  padding: 56px 0;
}
