/* .page {
  display: grid;
  grid-template-rows: 82px 1fr auto;

  background-color: var(--grey-1);
}

.page__main {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 56px;

  margin: 36px 0;
}

.page__footer {
  margin: 56px 0;
} */
